@model Entities.AuthenticationModels.ChangePasswordDto
@{
    ViewData["Title"] = "Change Password";
}
<div class="form-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 p-sm-0">
                <div class="ugf-form-block-header">
                    <h1>Change Password</h1>
                </div>
                <div class="ugf-input-block">
                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="All" class="text-danger">@ViewData["error"]</div>

                        <div class="row form-group">
                            <div class="col-md-12 col-12">
                                <label asp-for="OldPassword" class="form-label">
                                    <i class="las la-unlock"></i>
                                </label>
                                <input class="form-control" asp-for="OldPassword" placeholder="Old Password">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-12">
                                <label asp-for="NewPassword" class="form-label">
                                    <i class="las la-unlock"></i>
                                </label>
                                <input class="form-control" asp-for="NewPassword" placeholder="New Password">
                            </div>
                        </div>

                        <button type="submit" class="btn">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
